@font-face{
  font-family: 'MiFuente';
  src: url('./fonts/Blacklisted.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'FuenteAmarur';
  src: url('./fonts/amarurgt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'FuenteAmarur', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: white;
  transform: scale(1.05);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-size: 16px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  font-family: 'MiFuente';
}

button {
  border-radius: 3px;
  border: 3px solid rgb(28, 1, 1);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #04062f;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: rgb(28, 1, 1);
  background-color: rgb(134, 5, 5);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: white;
  }
  button {
    background-color: #04062f;
  }
}
